*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

#regresar{
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 0.4rem;
    padding: 0.5rem;
    font-size: 1.7rem;
}


#header-cita-form{
    width: 100%;
    height: 250px;
    background-color: #2e9de2;
    padding-top: 1.3rem;
    position: relative;
}
#calendario-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
}
#header-cita-form h1{
    margin-left: 4rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    color: white;
}
#header-cita-form h3{
    position: absolute;
    bottom: 3.5rem;
    left: 1.4rem;
    color: white;
    letter-spacing: 0.1rem;
}
#header-cita-form h3 span{
    color: rgb(197, 217, 255);
}
#header-cita-form h1 span{
    color: rgb(197, 217, 255);
}
#container-info-header{
    background-color: white;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-top: 1.5rem;
}
#cih-nombre{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}
#cih-nombre > i{
    color: #2e9de2;
    margin-right: 1rem;
}
#cih-nombre > h5{
    letter-spacing: 0.03rem;
    font-weight: 300;
    color: #636363;
}
#cih-estatus{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 1rem;
}
#cih-estatus > i{
    color: #2e9de2;
    margin-right: 1rem;
}
#cih-estatus > h5{
    letter-spacing: 0.03rem;
    font-weight: 300;
    color: #636363;
}
#btn-crear-cita{
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: #fff;
    background-color: #84c8f1;
    border: none;
}










/*CITAS**/
#contenedor-citas{
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-top-left-radius: 1.5rem;
    margin-top: -1.5rem;
    z-index: 2;
    background-color: white;
}
.cita{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #dddddd;
}
.cita .cita-fechas{
    margin-left: 1rem;
}
.cita .cita-fechas b{
    color: #2b2b2b;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
}
.cita .cita-fechas p{
    font-size: 0.7rem;
    margin-top: 0.1rem;
    color: #838383;
}
.cita i:first-child{
    font-size: 1.4rem;
    color: #2e9de2;
}
.cita button{
    position: absolute;
    right: 0.5rem;
    border: none;
    color: #131313;
    background-color: #ffffff;
}



@keyframes rotar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.loader{
    width: 50px;
    height: 50px;
    margin: auto;
    border-top: 5px solid #bbbbbb;
    border-bottom: 5px solid #bbbbbb;
    border-right: 5px solid #bbbbbb;
    border-left: 5px solid hsl(251, 100%, 97%);
    border-radius: 50%;
    animation: rotar 1s infinite linear;
}


.hide{
    display: none !important;
}
/*
.persona{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 35px 100px -30px #2e9de2;
}

.persona i:first-child{
    color: #5db0fe;
    margin: 0.8rem;
    border-radius: 50%;
}
#person-icon{
    padding: 0.8rem;
}
.persona-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.persona h2{
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0.2rem;
}
.persona p{
    font-size: 0.8rem;
}
.actividad-persona{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5eff81;
    margin-right: 1rem;
}
.actividad-persona > a{
    background-color: white !important;
    text-decoration: none;
}
.actividad-persona a i:last-child{
    margin-right: 0.5rem;
    color: #3b9aff;
}*/