*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

body{
    background-color: hsl(251, 100%, 97%);
}

.busqueda{
    padding: 1rem;
}
#nav-search{
    width: 100%;
    position: relative;
}
#nav-search i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #bbbbbb;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
}
#search-persona{
    width: 100%;
    outline: none;
    border: none;
    padding: 0.8rem;
    padding-left: 2.5rem !important;
    border-radius: 0.5rem;
    color: #575757;
    font-size: 0.9rem;
}

/**FILTROS*/
#filtros{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}
.filtro{
    outline: none;
    border: none;
    padding-right: 3rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: #fff;
    color: #bbbbbb;
    margin-right: 0.8rem;
    font-size: 0.8rem;
    transition: all ease-in-out 0.3s;
}
.filtro:hover{
    background-color: #2e9de2;
    color: white;
}
.filtro:last-child{
    margin-right: 0;
}
.filtro i{
    color: #3b9aff;
    padding-right: 0.3rem;
}


/*PERSONAS**/
#contenedor-personas{
    position: relative;
    width: 100%;
    padding: 1rem;
    padding-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.persona{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.persona i:first-child{
    color: #5db0fe;
    margin: 0.8rem;
    border-radius: 50%;
}
#person-icon{
    padding: 0.8rem;
}
.persona-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.persona h2{
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0.2rem;
}
.persona p{
    font-size: 0.8rem;
}
.actividad-persona{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5eff81;
    margin-right: 1rem;
}
.actividad-persona > a{
    background-color: white !important;
    text-decoration: none;
}
.actividad-persona a i:last-child{
    margin-right: 0.5rem;
    color: #3b9aff;
}



#agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #2e9de2;
    border-radius: 50%;
    font-size: 0.9rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
    color: #fff;
}