*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

body{
    background-color: hsl(251, 100%, 97%);
}

.busqueda{
    padding: 1rem;
}
#nav-search{
    width: 100%;
    position: relative;
}
#nav-search i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #bbbbbb;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
}
#search-persona{
    width: 100%;
    outline: none;
    border: none;
    padding: 0.8rem;
    padding-left: 2.5rem !important;
    border-radius: 0.5rem;
    color: #575757;
    font-size: 0.9rem;
}

/**FILTROS*/
#filtros{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.8rem;
}
.filtro{
    outline: none;
    border: none;
    padding-right: 3rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    margin-right: 0.8rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #2e9de2;
    font-size: 12px;
}
.filtro i{
    color: #3b9aff;
    padding-right: 0.3rem;
}


/*PERSONAS**/
#contenedor-personas{
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
a.persona{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:left ;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
a.persona h2{
    font-size: 15px;
}
a.persona p{
    font-size: 13px;
}
.persona i{
    color: #5db0fe;
    margin: 0.8rem;
    background-color: hsl(251, 100%, 97%);
    border-radius: 50%;
}
#person-icon{
    padding: 0.8rem;
}
.persona-info{ 
    width: 100px;
    
}
.actividad-persona i{
    margin-left: auto; 
    color: #ffa82e;
    margin: 0.6rem;
}



#agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #2e9de2;
    border-radius: 50%;
    font-size: 0.9rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
    color: #fff;
}